<!-- Preloader section -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- Home section -->
<section id="home" class="parallax-section">
    <div class="gradient-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <img class="lazyload img-responsive" class="wow fadeInUp" alt="logo" data-wow-delay="0.6s"
                    style="padding-bottom: 15px;" src="../assets/images/LogoTallerMussoSlider.png">

                <p class="wow fadeInUp" data-wow-delay="1.0s">
                    Más de 50 años brindando soluciones mecánicas integrales
                </p>
                <a href="#about" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll"
                    data-wow-delay="1.3s">Nuestro Taller</a>
            </div>
        </div>
    </div>
</section>


<!-- Navigation section -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">
                <img class="lazyload img-responsive" class="logoTallerMusso" alt="logo" asp-append-version="true"
                    src="../assets/images/LogoTallerMusso.png">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#top" class="smoothScroll">Inicio</a></li>
                <li><a href="#about" class="smoothScroll">Quienes Somos</a></li>
                <li><a href="#feature" class="smoothScroll">¿Por Qué Elegirnos?</a></li>
                <li><a href="#team" class="smoothScroll">Servicios</a></li>
                <li><a href="#contact" class="smoothScroll">Contactos</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- About section -->
<section id="about" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div data-wow-delay="0.3s" class="wow fadeInUp section-title animated"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h2>NUESTRA HISTORIA</h2>
                </div>
            </div>
            <div class="clearfix"></div>
            <div data-wow-delay="0.5s" class="wow fadeInUp col-md-5 col-sm-7 animated quienesSomos"
                style="animation-delay: 0.5s;animation-name: fadeInUp;">
                <div class="flexslider quienesSomos">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides"
                            style="width: 600%; transition-duration: 0s; transform: translate3d(-458px, 0px, 0px);">
                            <li style="width: 458px; margin-right: 0px; float: left; display: block;" class="clone"
                                aria-hidden="true">
                                <img class="lazyload img-responsive" data-src="assets/images/Slider/slide1.webp"
                                    alt="Flexslider" draggable="false">
                            </li>
                            <li style="width: 458px; margin-right: 0px; float: left; display: block;"
                                class="flex-active-slide">
                                <img class="lazyload img-responsive" data-src="assets/images/Slider/slide2.webp"
                                    alt="Flexslider" draggable="false">
                            </li>
                            <li style="width: 458px; margin-right: 0px; float: left; display: block;" class="clone"
                                aria-hidden="true">
                                <img class="lazyload img-responsive" data-src="assets/images/Slider/slide3.webp"
                                    alt="Flexslider" draggable="false">
                            </li>
                        </ul>
                    </div>
                    <ol class="flex-control-nav flex-control-paging"></ol>
                    <ul class="flex-direction-nav">
                        <li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>Atilio Musso comenzó a motivarse con la mecánica estudiando en una universidad Norteamericana. Con la
                obligatoriedad del servicio militar, siguió alimentando esta pasión, a medida que sus superiores le
                pedían reparaciones mecánicas para los
                vehículos militares. Concluido el servicio, Atilio comenzó a trabajar en Mercedes Benz. Por 1971 luego
                de un año de aprendizaje en la fábrica, decidió abrir camino a sus capacidades y aptitudes iniciando su
                propio taller en la casa de
                sus padres ubicado en Piquillín.</p>
            <blockquote>
                <em>“ Mi primer trabajo fue arreglando una Gilera 200, me fue bien y cada vez fueron trayéndome más
                    vehículos, más y más : se fue agrandando sin darme cuenta...”

                </em>
            </blockquote>
            <p> Después de muchos sacrificios para el año 1982 logró mudarse a su propio galpón, en planta alta su hogar
                y en planta baja su espacio de trabajo. El patio de sus hijos era un taller donde aprendieron desde
                niños el oficio y valores como:
                <strong>Vocación de servicio, perseverancia, dedicación y pasión en el trabajo.</strong> Tomás y Betiana
                crecieron sumándose al negocio familiar y a medida que los clientes planteaban sus necesidades, el
                Taller Musso fue creciendo en personal
                y equipamiento de alta tecnología. Convirtiéndose en un <strong>taller multipropósitos, de mecánica
                    integral</strong> donde se motivan los desafíos. La seriedad y eficiencia son los pilares
                fundamentales por el cual este taller ya tiene
                más de 50 años brindando sus servicios.
            </p>
        </div>
    </div>
</section>

<!-- Video section -->
<!-- <section id="video" class="parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <a class="popup-youtube" href="https://www.youtube.com/watch?v=CRhCMl7ZI84"><i
                        class="fa fa-play"></i></a>
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">VER EL VÍDEO</h2>
            </div>

        </div>
    </div>
</section> -->

<!-- Feature section -->
<section id="feature" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                    <h2>¿POR QUÉ ELEGIRNOS?</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span>
                            <i class="icofont-repair iconQuienesSomos"></i>
                        </span>
                    </div>
                    <h3>TALLER MULTIPROPÓSITOS </h3>
                    <p>Resolvemos de manera conjunta y funcional cada inconveniente de vehículos pesados.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span>
                            <span class="iconify iconQuienesSomos" data-icon="mdi-shield-check"
                                data-inline="false"></span>

                        </span>
                    </div>
                    <h3>GARANTIA DE CALIDAD </h3>
                    <p>Nos especializamos en lo que hacemos brindándote seguridad y garantía de nuestro trabajo..</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span>
                            <i class="icofont-badge iconQuienesSomos"></i>

                        </span>
                    </div>
                    <h3>TRAYECTORIA </h3>
                    <p>Nos abalan más de 50 años de experiencia en el rubro.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Team section -->
<section id="team" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                    <h2>CONOCE NUESTROS SERVICIOS</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal1TORNERIA">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/1TORNERIA.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Tornería</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal2RECTIFICACION">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/2RECTIFICACION.jpg"
                        alt="Team">
                    <div class="team-des">
                        <h3>Rectificación</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal3ELECTRICIDADAUTOMOTOR">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/3ELECTRICIDADAUTOMOTOR.jpg"
                        alt="Team">
                    <div class="team-des">
                        <h3>Electricidad</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal4BALANCEOCOMPUTALIZADO">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/4BALANCEOCOMPUTALIZADO.jpg"
                        alt="Team">
                    <div class="team-des">
                        <h3>Balanceo Computarizado</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal6INYECCIONDIESEL">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/6INYECCIONDIESEL.jpg"
                        alt="Team">
                    <div class="team-des">
                        <h3>Inyección Diesel</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal7EMBRAGUE">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/7EMBRAGUE.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Embrague</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal8SOLDADURA">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/8SOLDADURA.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Soldadura</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal9FRENOS">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/9FRENOS.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Frenos</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal10REFRIGERACION">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/10REFRIGERACION.jpg"
                        alt="Team">
                    <div class="team-des">
                        <h3>Refrigeración</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal11CEMENTADO">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/11CEMENTADO.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Cementado</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal12MECANICAGENERAL">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/12MECANICAGENERAL.jpg"
                        alt="Team">
                    <div class="team-des">
                        <h3>Mecánica General</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal13REPUESTOS">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/13REPUESTOS.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Repuestos</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-thumb" data-toggle="modal" data-target="#modal14HIDRAULICA">
                    <img class="lazyload img-responsive" data-src="assets/images/Servicios/14HIDRAULICA.jpg" alt="Team">
                    <div class="team-des">
                        <h3>Hidráulica</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1.1s">
                <div class="join-team">
                    <i class="fa fa-plus"></i>
                    <p>Para mas servicios.</p>
                    <br>
                    <br>
                    <br>
                    <a href="#contact" class="btn btn-default hvr-bounce-to-bottom">Consulta Aquí</a>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>

    <div class="modal fade" id="modal1TORNERIA" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Tornería</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/1TORNERIA.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <!-- <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/1TORNERIA2.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li> -->
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/1TORNERIA3.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/1TORNERIA4.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/1TORNERIA5.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/1TORNERIA.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Mecanizado de todo tipo de piezas.</li>
                                <li>Construcción de Cardan.</li>
                                <li>Cambio de manga y media manga de Cañoneras.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal2RECTIFICACION" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Rectificación</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/2RECTIFICACION.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/2RECTIFICACION2.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/2RECTIFICACION3.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/2RECTIFICACION4.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/2RECTIFICACION5.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>
                            <!-- <img class="lazyload img-responsive" data-src="assets/images/2RECTIFICACION.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Reacondicionamiento y ajuste de todo tipo de motores diesel y nafteros.</li>
                                <li>Block:
                                    <ol>Rectificación de superficie.</ol>
                                    <ol>Encamisado.</ol>
                                    <ol> Alesado de Bancada.</ol>
                                </li>
                                <li>Tapa de Cilindros:
                                    <ol>Rectificación de superficie.</ol>
                                    <ol>Rectificación de asientos de válvulas.</ol>
                                    <ol>Prueba hidráulica.</ol>
                                </li>
                                <li>Bielas:
                                    <ol>Ajuste y encuadrado.</ol>
                                </li>
                                <li>Cigüeñales:
                                    <ol>Rectificación.</ol>
                                    <ol>Magnaflux.</ol>
                                    <ol>Balanceo.</ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal3ELECTRICIDADAUTOMOTOR" tabindex="-1" role="dialog"
        aria-labelledby="project-1-label" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Electricidad</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/3ELECTRICIDADAUTOMOTOR.jpg"
                                            alt="Flexslider" draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/3ELECTRICIDADAUTOMOTOR2.jpg"
                                            alt="Flexslider" draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/3ELECTRICIDADAUTOMOTOR3.jpg"
                                            alt="Flexslider" draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/3ELECTRICIDADAUTOMOTOR.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Cárdenes.</li>
                                <li>Conjunto de cigüeñal y embrague.</li>
                                <li>Ruedas.</li>
                                <li>Trituradores.</li>
                                <li>Rotores de Picadoras.</li>
                                <li>Ventiladores.</li>
                                <li>Campanas.</li>
                                <li>Mazas.</li>
                                <li>Sin fines.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal4BALANCEOCOMPUTALIZADO" tabindex="-1" role="dialog"
        aria-labelledby="project-1-label" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Balanceo Computarizado</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/4BALANCEOCOMPUTALIZADO.jpg"
                                            alt="Flexslider" draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/4BALANCEOCOMPUTALIZADO2.jpg"
                                            alt="Flexslider" draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/4BALANCEOCOMPUTALIZADO.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Cárdenes.</li>
                                <li>Conjunto de cigüeñal y embrague.</li>
                                <li>Ruedas.</li>
                                <li>Trituradores.</li>
                                <li>Rotores de Picadoras.</li>
                                <li>Ventiladores.</li>
                                <li>Campanas.</li>
                                <li>Mazas.</li>
                                <li>Sin fines.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal6INYECCIONDIESEL" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Inyección Diesel</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/6INYECCIONDIESEL.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/6INYECCIONDIESEL.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Reparación y Calibración de bombas inyectoras e inyectores.</li>
                                <li>Puesta a Punto de Motores con lámpara electrónica.</li>
                                <li>Reparación Turbo alimentador.</li>
                                <li>Reparación de Inyectores electrónicos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal7EMBRAGUE" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Embrague</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/7EMBRAGUE.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/7EMBRAGUE.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Rectificación de superficies.</li>
                                <li>Control de funcionamiento.</li>
                                <li>Reparación de placas y discos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal8SOLDADURA" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Soldadura</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/8SOLDADURA.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>

                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/8SOLDADURA.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Mig:
                                    <ol>Acero inoxidable.</ol>
                                    <ol>Aceros de media y baja aleación.</ol>
                                    <ol>Aluminio.</ol>
                                </li>
                                <li>Tig:
                                    <ol>Aluminio.</ol>
                                    <ol>Fundición.</ol>
                                </li>
                                <li>Autógena
                                    <ol>Cobre.</ol>
                                    <ol>Bronce.</ol>
                                    <ol>Estaño.</ol>
                                    <ol>Fundición.</ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal9FRENOS" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Frenos</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/9FRENOS.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>
                            <!-- <img class="lazyload img-responsive" data-src="assets/images/9FRENOS.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Rectificación de Campanas y discos.</li>
                                <li>Rectificación de Cintas.</li>
                                <li>Reparación de válvulas de aire.</li>
                                <li>Reparación de sistemas hidráulicos y de volteo.</li>
                                <li>Cambio de Pastillas de frenos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal10REFRIGERACION" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Refrigeración</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/10REFRIGERACION.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>

                                </ul>
                            </div>
                            <!-- <img class="lazyload img-responsive" data-src="assets/images/10REFRIGERACION.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Mecanizado de todo tipo de piezas.</li>
                                <li>Construcción de Cardan.</li>
                                <li>Cambio de manga y media manga de Cañoneras.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal11CEMENTADO" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Cementado</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/11CEMENTADO.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>

                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/11CEMENTADO.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Camisa.</li>
                                <li>Esplangas Sin fines.</li>
                                <li>Cuchillas de trituradores.</li>
                                <li>Contracuchillas de Picadoras.</li>
                                <li>Toda pieza sometida a desgaste por abrasión y fricción.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal12MECANICAGENERAL" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Mecánica General</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/12MECANICAGENERAL.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/12MECANICAGENERAL2.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/12MECANICAGENERAL.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Servicie completo.</li>
                                <li>Cajas , difrenciales..</li>
                                <li>Inyección electrónica.</li>
                                <li>Reformas en general.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal13REPUESTOS" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Repuestos</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/13REPUESTOS.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/13REPUESTOS2.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/13REPUESTOS.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Baterías.</li>
                                <li>Correas.</li>
                                <li>Crucetas.</li>
                                <li>Rulemanes y retenes.</li>
                                <li>Filtros: aire, combustible, aceite.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal14HIDRAULICA" tabindex="-1" role="dialog" aria-labelledby="project-1-label"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Hidráulica</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 message-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/14HIDRAULICA.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/14HIDRAULICA.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                    <li>
                                        <img class="lazyload img-responsive"
                                            data-src="assets/images/Servicios/14HIDRAULICA.jpg" alt="Flexslider"
                                            draggable="false">
                                    </li>
                                </ul>
                            </div>

                            <!-- <img class="lazyload img-responsive" data-src="assets/images/14HIDRAULICA.jpg" class="imageModal" alt=""> -->
                        </div>
                        <div class="col-md-6 message-box">
                            <ul class="contenUL">
                                <li>Reparación de:
                                    <ol>Convertidores hidráulicos.</ol>
                                    <ol>Bombas hidráulicass.</ol>
                                    <ol>Direcciones hidráulicas.</ol>
                                    <ol>Construcción de mangueras y caños hidráulicos. </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Contact section -->
<section id="contact" class="parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div class="wow fadeInUp section-title" data-wow-delay="0.3s">
                    <h2>CONTACTANOS</h2>
                    <h4>Estamos para ayudarte</h4>
                </div>
                <div class="contact-form wow fadeInUp" data-wow-delay="0.7s">

                    <form action="#" class="contact-form" [formGroup]='forma' (ngSubmit)="SubmitContactForm()">
                        <div [ngClass]="{ 'has-error': submitted && f.nombre.errors }">
                            <input class="form-control" type="text" id="name" placeholder="Nombre" formControlName="nombre">
                            <div *ngIf="submitted && f.nombre.errors" class="has-error">
                                <div *ngIf="f.nombre.errors.required">Este campo es requerido</div>
                            </div>
                        </div>

                        <div [ngClass]="{ 'has-error': submitted && f.email.errors }">
                            <input class="form-control" type="email" id="email" placeholder="Email" formControlName="email">
                            <div *ngIf="submitted && f.email.errors" class="has-error">
                                <div *ngIf="f.email.errors.required">Este campo es requerido</div>
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="has-error">
                                <div *ngIf="f.email.errors.email">Ingrese un Email valido</div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': submitted && f.message.errors }">
                            <textarea class="form-control" id="message" placeholder="Mensaje" rows="5"  formControlName="message"> </textarea>
                            <div *ngIf="submitted && f.message.errors" class="has-error">
                                <div *ngIf="f.message.errors.required">Este campo es requerido</div>
                            </div>
                        </div>

                        <!-- <input name="name" type="text" class="form-control" placeholder="Nombre" required>
                        <input name="email" type="email" class="form-control" placeholder="Email" required>
                        <textarea name="message" class="form-control" placeholder="Mensaje" rows="5" required>
                        </textarea> -->
                        <input type="submit" class="form-control submit" value="Enviar">
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- <div id="googleMap" style="width:100%;height:380px;"></div> -->

<div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.4s">
    <div id="google-map">
        <div style="width: 100%">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Av.%20Belgrano%20esq.%20Gral%20Paz%20(5125)%20Piquill%C3%ADn+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div>
    </div>
</div>

<!-- Footer section -->
<footer>
    <div class="container pt-1">
        <div class="row">

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.3s">
                <h3>Proveedor Amigo:</h3>
                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat ipsum.</p> -->
                <a href="https://www.primerodiesel.com.ar"
                    class="btn btn-default hvr-bounce-to-bottom btnPrimeroDiesel">Primero Diesel</a>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.6s">
                <h3>DIRECIÓN</h3>
                <p><i class="fa fa-home"></i> Av. Belgrano esq. Gral Paz (5125) <br>Piquillín-Pcia de cba.</p>
                <p><i class="fa fa-phone"></i> Tel/fax: 03574-494016/104</p>
                <p><i class="fa fa-envelope-o"></i> atiliomusso@yahoo.com.ar </p>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.9s">
                <h3>HORARIO DE ATENCIÓn</h3>
                <strong>Lunes - Viernes</strong>
                <p>8:00 AM hs a 12:00 PM - 14:00. AM a 19:00 PM</p>
                <strong>Sabados</strong>
                <p> 8:00 AM a 12:00 PM</p>
                <strong>Domingos</strong>
                <p> Cerrado</p>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="footer-containertent">

                <ul class="footer-social-info">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </li>

                </ul>
                <br><br>
                <p>Copyright © 2021.
                    <!-- <a href="https://webthemez.com/tag/free" target="_blank">Free Templates
                  </a> by WebThemez -->
                </p>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 text-right">
            <a id="idGototop" href="#about" class="fa fa-angle-up smoothScroll gototop"></a>
        </div>
    </div>
</footer>